# Auto Building Leetcode Progress Tracker

The README.md is built using mustache, to automatically track your progress in Leetcode
In the `leetcode` folder, save your submissions as `<SNo>_<easy/med/hard>_<problem_name>.*`

Problems Solved: **{{num_total}}**

|Easy| Medium |Hard| 
|:---:|:---:|:---:|
| {{num_e}}/490 | {{num_m}}/984 | {{num_h}}/394 |

</br>


|#| Title |Difficulty| 
|:---:|:---:|:---:|
{{#prob}}
{{qno}} |{{qname}} |{{diff}}|
{{/prob}}

</br></br>

Check out [this awesome tutorial](https://medium.com/swlh/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91) on self-updating README files.

Check out [this gist](https://gist.github.com/afig/be5ab20c50062dba7cb835e30206659a) on how to create custom badges using [shields.io](http://shields.io).