# Auto Building Leetcode Progress Tracker

The README.md is built using mustache, to automatically track your progress in Leetcode
In the `leetcode` folder, save your submissions as `<SNo>_<easy/med/hard>_<problem_name>.*`

<center>

|Easy| Medium |Hard| 
|:---:|:---:|:---:|
| {{num_e}}/490 | {{num_m}}/984 | {{num_h}}/394 |

</center>
</br>

<center>

|#| Title |Difficulty| 
|:---:|:---:|:---:|
{{#prob}}
{{qno}} |{{qname}} |{{diff}}|
{{/prob}}

</center>
</br></br>

Check out [this awesome tutorial](https://medium.com/swlh/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91) on self-updating README files.